<style>
.shrink-logo{
  height: 91px;
  width: 190px;
}
</style>
        <header class="main-header-three">
            <nav class="main-menu main-menu-three">
                <div class="main-menu-three__wrapper" style="margin: auto; padding: 10px 0 10px 0">
                    <div class="main-menu-three__wrapper-inner">
                        <div class="main-menu-three__left">
                            <div class="main-menu-three__logo">
                                <a href="/"><img src="assets/img/logo/logo_white.png" alt="" class="shrink-logo"></a>
                            </div>
                        </div>
                        <div class="main-menu-three__right">
                            <div class="main-menu-three__right-inner">
                                <div class="main-menu-three__right-content-box">
                                    <div class="main-menu-three__right-bottom">
                                        <div class="main-menu-three__main-menu-box">
                                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                            <ul class="main-menu__list">
                                                <li>
                                                    <a href="/">Home</a>
                                                </li>                                                                                                
                                                <li>
                                                    <a href="about-us">About</a>
                                                </li>                                                
                                                <li>
                                                    <a href="services">Services</a>
                                                </li>                                                
                                                <li>
                                                    <a href="gallery">Gallery</a>
                                                </li>                                                
                                                <li>
                                                    <a href="contact">Contact</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

