<!-- Scripts -->
  

 <script xsrc="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
 <script src="assets/js/jquery-3.6.0.min.js"></script>  
   
 <script xsrc="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="assets/js/bootstrap.bundle.min.js"></script>  
 
 <script xsrc="assets/vendors/jarallax/jarallax.min.js"></script>
 <script src="assets/js/jarallax.min.js"></script>  
 
 <script xsrc="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
 <script src="assets/js/jquery.ajaxchimp.min.js"></script>  
 
 <script xsrc="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
 <script src="assets/js/jquery.appear.min.js"></script>  
 
 <script xsrc="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
 <script src="assets/js/jquery.circle-progress.min.js"></script>  
 
 <script xsrc="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
 <script src="assets/js/jquery.magnific-popup.min.js"></script>  
 
 <script xsrc="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
 <script src="assets/js/jquery.validate.min.js"></script>  
 
 <script xsrc="assets/vendors/nouislider/nouislider.min.js"></script>
 <script src="assets/js/nouislider.min.js"></script>  
 
 <script xsrc="assets/vendors/odometer/odometer.min.js"></script>
 <script src="assets/js/odometer.min.js"></script>  
 
 <script xsrc="assets/vendors/swiper/swiper.min.js"></script>
 <script src="assets/js/swiper.min.js"></script>  
 
 <script xsrc="assets/vendors/tiny-slider/tiny-slider.min.js"></script>
 <script src="assets/js/tiny-slider.min.js"></script>  
 
 <script xsrc="assets/vendors/wnumb/wNumb.min.js"></script>
 <script src="assets/js/wNumb.min.js"></script>  
 
 <script xsrc="assets/vendors/wow/wow.js"></script>
 <script src="assets/js/wow.js"></script>  
 
 <script xsrc="assets/vendors/isotope/isotope.js"></script>
 <script src="assets/js/isotope.js"></script>  
 
 <script xsrc="assets/vendors/countdown/countdown.min.js"></script>
 <script src="assets/js/countdown.min.js"></script>  
 
 <script xsrc="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
 <script src="assets/js/owl.carousel.min.js"></script>  
 
 <script xsrc="assets/vendors/bxslider/jquery.bxslider.min.js"></script>
 <script src="assets/js/jquery.bxslider.min.js"></script>  
 
 <script xsrc="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
 <script src="assets/js/bootstrap-select.min.js"></script>  
 
 <script xsrc="assets/vendors/vegas/vegas.min.js"></script>
 <script src="assets/js/vegas.min.js"></script>  
 
 <script xsrc="assets/vendors/jquery-ui/jquery-ui.js"></script>
 <script src="assets/js/jquery-ui.js"></script>  
 
 <script xsrc="assets/vendors/timepicker/timePicker.js"></script>
 <script src="assets/js/timePicker.js"></script>  
 
 <script xsrc="assets/vendors/circleType/jquery.circleType.js"></script>
 <script src="assets/js/jquery.circleType.js"></script>  
 
<script xsrc="assets/vendors/circleType/jquery.lettering.min.js"></script>
 <script src="assets/js/jquery.lettering.min.js"></script>  




    <!-- template js -->
    <script xsrc="assets/js/oxpins.js"></script>
    <script src="assets/js/oxpins.js"></script>  

